<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite" parallel="tests">

  
   <parameter name="ExcelFile" value="C:\Users\so.maggo\workspace\Partner_Portal_Framework\Partner_Portal.xlsx"></parameter>
   <parameter name="BrowserName" value="Chrome"></parameter>
   <parameter name="URL" value="http://35.154.53.144"></parameter>
         
 <test name="PageTests">
    <classes>
	   <!-- <class name="tests.SignUpTest">	
			<methods>
				<include name="signup2"/>
				<include name="signup"/>
			</methods>
	  </class>  -->

      <class name="tests.LoginTest">
 	  </class>
    </classes>
  </test> <!-- Test -->
  
  
</suite> <!-- Suite -->



  
